body{
  text-align: center;
  background-color: rgb(169, 149, 123);
}



.linkki{
  text-align:  right;

}

.palmu{


}

.progress{


}

.otsikko{
  border-style: solid;
  border-color: black;
  margin-right: 300px;
  margin-left: 300px;

}
