  body{
    text-align: center;
    background-color: rgb(169, 149, 123);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }


   #linkki {
     float: left;
     text-align: left;
     list-style-type: none;
     background-color: #4B371C;
     padding-right: 20px;
     width: 10%;
     border-radius: 10px;
     min-height: 150px;
  }
   #linkki ul {
      list-style-type: none;
      text-decoration: none;
   }

   a:hover {
     color: red;
   }

   #linkki a{
     color: white;
     text-decoration: none;
   }

   #linkki a:hover{
     color: red;
     text-decoration: none;
   }
   .ekalinkki{
     padding-bottom: 5px;

   }

   .ekalinkki a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     word-spacing: 2em;


   }

   .ekalinkki a:hover{
     text-decoration: none;
     color: red;
     font-size: 20px;

   }

  .otsikko{
    border-style: solid;
    border-color: black;
    margin-right: 300px;
    margin-left: 300px;

  }

  section {
    width: 90%;

  }

  .leipä{
    background-color: white;
    border-style: dotted;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    margin-left: 250px;
    min-height: 500px;
    font-size: 20px;
  }

  footer{
    background-color: ;
    padding-top: 10px;
    padding-bottom: ;
    margin-top: 210px;
    width: 100%;

  }
